/* ---------- Adjustment ---------- */

@font-face {
  font-family: "Segoe UI";
    src: url('../font/SegoeUI.ttf');
    font-weight: 400;
}

@font-face {
  font-family: "Segoe UI";
    src: url('../font/SegoeUI-Bold.ttf');
    font-weight: 700;
}

@font-face {
  font-family: "Segoe UI";
    src: url('../font/SegoeUI-SemiBold.ttf');
    font-weight: 600;
}

body {
  background: url('../img/bg_dark.png');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  font-family: "Segoe UI";
  cursor: default;
  min-width: 320px;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
  color: inherit;
}

*:focus {
  outline: none;
}

.small {
  font-size: 17px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

/* ---------- Navigation ---------- */

.nav {
  height: 67px;
  background-color: rgba(51, 51, 51, 0.8);
  padding-top: 4px;
}

.nav-wrapper {
  width: 90%;
  margin: 0 5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-align-items: center;
  align-items: center;
}

/* ---------- Navigation Logo ---------- */

.nav-logo {
  flex: 30%;
  position: relative;
}

a.nav-logo__link {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  color: #abd720;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

a.nav-logo__link:before {
  background: url("../img/logo.png");
  margin-top: 5px;
  margin-right: 10px;
  width: 79px;
  height: 59px;
  content: "";
}

.nav-logo__link:after {
  width: 100px;
  height: 100px;
  background: rgba(51, 51, 51, 0.8);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: -8px;
  left: -10px;
  clip: rect(75px, 100px, 100px, 0);
  content: "";
}

/* ---------- Navigation Organic ---------- */

.nav-organic {
  flex: 20%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  cursor: default;
}

.nav-organic:before {
  background: url("../img/nav-logo-1.png");
  margin-right: 10px;
  width: 41px;
  height: 30px;
  content: "";
}

.nav-organic__text {
  color: white;
  font-size: 15px;
}

/* ---------- Navigation Ordered ---------- */

.nav-ordered {
  flex: 20%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  cursor: default;
}

.nav-ordered:before {
  background: url("../img/nav-logo-2.png");
  margin-right: 10px;
  width: 38px;
  height: 31px;
  content: "";
}

.nav-ordered__text {
  color: white;
  font-size: 15px;
}

.nav-button {
  flex: 30%;
  color: #a1cc1b;
  font-size: 17px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 2px;
  cursor: pointer;
}

/* ---------- Header Titles ---------- */

.header-title {
  text-align: center;
  color: white;
  font-size: 62px;
  font-weight: 700;
  line-height: 52px;
  margin: 20px 0 20px 0;
}

.header-subtitle {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

/* ---------- Main List ---------- */

.main-wrapper {
  width: 90%;
  margin: 0 5%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.main-options {
  flex: 25%;
  position: relative;
}

.main-options__item {
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  margin: 60px 0 50px 100px;
}

.main-options__item:nth-child(1):before {
  background: url("../img/options-1.png");
  display: block;
  position: absolute;
  bottom: 360px;
  left: 20px;
  width: 39px;
  height: 69px;
  content: "";
}

.main-options__item:nth-child(2):before {
  background: url("../img/options-2.png");
  display: block;
  position: absolute;
  bottom: 260px;
  left: 0;
  width: 68px;
  height: 64px;
  content: "";
}

.main-options__item:nth-child(3):before {
  background: url("../img/options-3.png");
  display: block;
  position: absolute;
  bottom: 160px;
  left: 10px;
  width: 52px;
  height: 65px;
  content: "";
}

.main-options__item:nth-child(4):before {
  background: url("../img/options-4.png");
  display: block;
  position: absolute;
  bottom: 75px;
  left: 9px;
  width: 64px;
  height: 66px;
  content: "";
}

/* ---------- Main Presentation ---------- */

.main-presentation {
  flex: 40%;
  position: relative;
}

.main-presentation:before {
  background: url("../img/sale.png");
  position: absolute;
  top: -1%;
  left: 5%;
  width: 157px;
  height: 135px;
  content: "";
}

.main-presentation__product {
  margin-top: 40px;
}

.main-presentation__product:before {
  background: url("../img/shadow_upper.png");
  position: absolute;
  content: "";
}

/* ---------- Main Order Header ---------- */
.main-order {
  flex: 30%;
}

.main-order__wrapper {
  max-width: 291px;
  max-height: 446px;
  background-color: rgba(0,0,0,.6);
  border-radius: 9px 10px 10px 9px;
  padding: 10px 10px 20px 10px;
  margin: 0 auto;
}

.main-order__header {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.main-order__header:before {
  content: "18 шт.";
  position: absolute;
  font-style: italic;
  top: -5px;
  left: 210px;
  color: #ffde00;
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
}

.main-order__header:after {
  background: url("../img/separator.png");
  display: block;
  width: 284px;
  height: 3px;
  content: "";
  margin: 10px auto;
}

/* ---------- Main Order Price ---------- */

.main-order__price {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.main-order__price-text {
  flex: 35%;
  position: relative;
  color: white;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
  padding: 30px 0 0 30px;
  font-style: italic;
}

.main-order__price-text:before {
  content: "Скидка 50%";
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ffde00;
  font-size: 22px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  font-style: italic;
}

.main-order__price-text--value {
  font-size: 26px;
  font-weight: 700;
  text-decoration: line-through;
}

.main-order__price-sale {
  flex: 35%;
  color: #ffde00;
  line-height: 30px;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.main-order__price-sale:before {
  background: url("../img/border-1.png");
  position: absolute;
  top: 4px;
  left: 160px;
  width: 105px;
  height: 68px;
  content: "";
}

.main-order__price-sale:after {
  background: url("../img/border-2.png");
  position: absolute;
  top: 4px;
  left: 185px;
  width: 105px;
  height: 68px;
  content: "";
}

.main-order__price-sale--value {
  font-size: 30px;
  font-weight: 700;
  margin-right: 1px;
}

/* ---------- Main Order Buy ---------- */

.main-order__buy-form {
  margin-top: 5px;
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
}

.main-order__buy-form-icon-1 {
  position: absolute;
  top: 38px;
  left: 10px;
}

.main-order__buy-form-icon-2 {
  position: absolute;
  top: 104px;
  left: 10px;
}

.main-order__buy-form-item {
  padding-left: 40px;
  width: 248px;
  background-color: white;
  border-radius: 2px;
  border: none;
}

.main-order__buy-form-item:hover,
.main-order__buy-form-item:focus {
  border: none;
}

.main-order__buy-button {
  width: 290px;
  height: 65px;
  margin-top: 10px;
  background: red;
  border-radius: 3px;
  color: white;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.main-order__buy-form-text:after {
  background: url("../img/arrow.png");
  width: 42px;
  height: 85px;
  position: absolute;
  top: 75px;
  left: -50px;
  content: "";
}

@media screen and (min-width: 1024px) {
  .nav-wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .main-wrapper {
    width: 1000px;
    margin: 0 auto;
  }

  .header-subtitle {
  max-width: 950px;
  margin: 0 auto;
  }

  .main-presentation {
    text-align: center;
  }

  .main-options__item {
    margin: 54px 0 -10px 100px;
  }

  .main-order {
    margin-top: 25px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1023px) {
  .nav-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .nav-button {
    flex: 15%;
    font-size: 0.7em;
    line-height: 20px;
  }

  .header-title {
    font-size: 55px;
  }

  .header-subtitle {
    font-size: 25px;
  }

  .main-wrapper {
    width: 100%;
    margin: 0 auto;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
  }

  .main-options {
    display: none;
  }

  .main-presentation {
    flex: 50%;
    text-align: center;
  }

  .main-order {
    flex: 50%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 606px) and (max-width: 769px) {
  .nav-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .nav-logo {
    flex: 30%;
  }

  a.nav-logo__link {
    font-size: 1em;
  }

  .nav-organic {
    flex: 12%;
  }

  .nav-organic__text {
    font-size: 0.7em;
  }

  .nav-ordered {
    flex: 17%;
  }
  .nav-ordered__text{
    font-size: 0.7em;
  }

  .nav-button {
    flex: 5%;
    font-size: 0.5em;
    line-height: 15px;
  }

  .header-title {
    font-size: 6vw;
  }

  .header-subtitle {
    font-size: 3vw;
    line-height: 1.5;
  }

  .main-wrapper {
    width: 100%;
    margin: 0 auto;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
  }

  .main-options {
    display: none;
  }

  .main-presentation {
    flex: 45%;
    text-align: center;
  }

  .main-presentation:before {
    top: -2%;
    left: 3%;
  }

  .main-order {
    flex: 55%;
    margin: 0 auto;
  }

  .main-order__buy-form-text:after {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 605px) {
  .nav-wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .nav-logo {
    flex: 50%;
  }

  a.nav-logo__link {
    font-size: 0.9em;
  }

  .nav-organic {
    display: none;
  }

  .nav-ordered {
    display: none;
  }

  .nav-button {
    flex: 5%;
    font-size: 0.7em;
    line-height: 15px;
  }

  .header-title {
    margin-top: 25px;
    font-size: 7vw;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .header-subtitle {
    font-size: 4vw;
    line-height: 1.5;
  }

  .main-wrapper {
    width: 100%;
    margin: 0;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
  }

  .main-options {
    display: none;
  }

  .main-presentation {
    flex: 100%;
    text-align: center;
  }

  .main-presentation:before {
    display: none;
  }

  .main-order {
    flex: 100%;
    margin: 0 auto;
  }

  .main-order__wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .main-order__buy-form-text:after {
    display: none;
  }

  .main-order {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 319px) {
  body {
    display: none;
    background: url(../img/sad.svg) no-repeat fixed 50% 50%;
    -webkit-background-size: 150px;
    background-size: 150px;
  }
}